# Server setup
PORT=3000

# App mode
NODE_ENV=production

# Database Authentication
MONGO_USERNAME=root
MONGO_PASSWORD=examplepassword
MONGO_DATABASE=exlabs-task

# Configuration
MAX_PAYLOAD_SIZE=10kb
REQUESTS_PER_WINDOW=100
WINDOW_MINUTES=15
PASSWORD_HASH_SALT_ROUNDS=10
MIN_PASSWORD_LENGTH=8
COOKIE_MAX_AGE_MS=86_400_000
AUTH_LOCK_TIME_MS=900_000
MAX_LOGIN_ATTEMPTS=5

# JWT
JWT_EXPIRES_IN=1d
JWT_SECRET=my_json_web_token_secret