# Server setup
PORT=3000

# Database Authentication
MONGO_USERNAME=root
MONGO_PASSWORD=examplepassword
MONGO_DATABASE=exlabs-task

# Configuration
MAX_PAYLOAD_SIZE=10kb
REQUESTS_PER_WINDOW=100
WINDOW_MINUTES=15